@import "css-reset.css";

body {
    font-family: Raleway;
    font-size: 0.8em;
}

.language_link {
    font-style: normal;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}

.language_link:hover {
   text-decoration: underline; 
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    background-color: white;
}

header img {
    vertical-align: bottom;
    margin-left: 1em;
    height: 3em;
    margin-top: 1em;
}

.languages {
    margin-top: auto;
    margin-right: 1em;
}

.hr-line {
    background-color: #BA1F3D;
    height: 1em;
    border-right: 0;
    border-left: 0; 
}

#background {
    width: 100%;
    margin-bottom: -0.2%;
    object-fit: cover;
    height: 40vh;
}

.text_area {
    padding-left: 13em;
    padding-right: 13em; 
}

.interruption_notice {
    background-color: #4E4D50;
    color: white;
    padding: 1.5em;
    margin-bottom: 2em;
}

a {
    font-style: italic;
    color: white;
    text-decoration: none;
}

.additional_space {
    margin-bottom: 5em;
}

html body {
    width:100%;
    height: 100%;
}

.document {
    position: relative;
}

nav {
    display: flex;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -7%);
    justify-content: space-between;
}

nav a {
    background-color: #BA1F3D;
    font-style: normal;
    padding: 1em;
    margin: 0.5em;
}

.flex {
    display: flex;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
    align-content: space-between;
}

#logo {
    width: 40%;
    margin-right: 4em;
}

#logo img {
    width: 100%;
}

#slogan {
    width: 40%;
    color: #F2F2F2;
}

.hr-line-small {
    background-color: #BA1F3D;
    height: 0.6em;
    border-right: 0;
    border-left: 0; 
}

#text {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    text-align: justify;
    text-justify: inter-word;
}

body {
    -webkit-box-shadow: inset 0 0 1000px #00f;
    -moz-box-shadow: inset 0 0 1000px #00f;
    box-shadow: inset 0 0 1000px rgb(203, 200, 193);
}

footer {
    bottom: 0;
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding-top: 2em;
    display: flex;
}

footer p {
    padding-left: 3em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    
}

footer div {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-top: 1em;
}

footer img {
    vertical-align: bottom;
    margin-left: 3em;
    height: 3em;
    margin-top: 1em;
}

.link p:hover {
    text-decoration: underline;
}

#dna {
    margin-top: auto;
    height: 10em;
    border-bottom: 0px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.flexbox div {
    flex-basis: 31%;
}

.description {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.box {
    align-self: stretch;
}

.box_picture {
    width: 100%;
    margin: 0px;
}

.box_link {
    font-family: Crete Round;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.3vw;
    padding: 0.5em;
    padding-left: 1em;
    display: block;
    background-color: #46AABE;
    margin: 0px;
}

.description {
    background-color: #46AABE;
    color: white;
    margin-bottom: 1.5em;
}

.hr {
    margin: 0px;
    color: white;
    border-width: 5px;
}

.hr-line-box {
    background-color: white;
    height: 0.15em;
    border-right: 0;
    border-left: 0; 
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 800px) {
    .flexbox div {
        flex-basis: 48%;
    }
    
    nav {
        width: 70%;
    }
}

@media screen and (max-width: 660px) {
    .text_area {
        padding-left: 5em;
        padding-right: 5em; 
    }
    
    nav {
        width: 90%;
    }
    
    .flex {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #slogan {
        display: none;
    }
    
    #logo {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    
    .text_area {
        padding-left: 1em;
        padding-right: 1em; 
    }
}

@media screen and (max-width: 450px) {
    .flexbox div {
        flex-basis: 100%;
    }
}